<div class="row">
 
          <div class="large-6 columns">
 
            <%= image_tag("new_skinner.jpg", alt: "Photo of Andrew") %><br>
 
          </div>
 
 
          <div class="large-6 columns">
              <%= image_tag("now_available.png", alt: "Now available: club gigs, acoustic gigs, private parties, singer-songwriter series, festivals, and more.") %>

            <div class="row">
              <div class="large-12 small-12 columns">
                <div class="panel">
                  <%= render 'pages/soundcloud' %>  
                </div>
              </div>
            </div>
 
          </div>
 
        </div>
 
      <!-- Search Bar -->
 
        <div class="row">
 
          <div class="large-12 columns">
            <div class="radius panel">
 
              <div class="row collapse">
 
                <div class="large-6 columns">
                  <h3 class="show-for-small">What's going on:</h3>
 
                  <div class="">
                    <h4 class="hide-for-small">What's going on:</h4>
                    <!-- tour_links' modal content is toward bottom of page -->
                    <%= render 'pages/tour_links' %>
                  </div>
                </div>

                <div class="large-6 columns">
                  <%= render 'pages/twitter' %>  
                </div>
 
              </div>
 
          </div>
          </div>
 
        </div>
 
      <!-- End Search Bar -->
 
 
      <!-- Thumbnails -->
 
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
        </div>

        <%= render 'pages/tour_content' %>
